In [1]:
#Importing the libraries
import numpy as np
import pandas as pd

In [2]:
#loading Dataset and picking only useful columns
df_lan = pd.read_excel("../Dataset/Input_Dataset/DDW-C18-0000.xlsx", header = [1])
df_lan = df_lan[((df_lan.iloc[:, 4] == "Total") & (df_lan.iloc[:, 3] == "Total"))].iloc[:, [0, 2, 5, 8]]
df_lan = df_lan.rename(columns={"Area Name" : "Name"})
df_lan.head()

,State,Name,Number speaking second language,Number speaking third language
4,00,INDIA,314988770,86009580
34,01,JAMMU & KASHMIR,6183190,2096220
64,02,HIMACHAL PRADESH,1242705,347286
94,03,PUNJAB,13035224,7829913
124,04,CHANDIGARH,579920,321979

In [3]:
#loading Dataset and picking only useful columns
df_cen = pd.read_excel("../Dataset/Input_Dataset/DDW_PCA0000_2011_Indiastatedist.xlsx")
df_cen = df_cen[((df_cen["TRU"] == "Total") & ((df_cen["Level"] == "India") | (df_cen["Level"] == "STATE")))].iloc[:, [7, 10]]
df_cen["Name"] = df_cen["Name"].apply(lambda x : x.upper())
df_cen.head()

                 Name       TOT_P
0               INDIA  1210854977
3     JAMMU & KASHMIR    12541302
72   HIMACHAL PRADESH     6864602
111            PUNJAB    27743338
174        CHANDIGARH     1055450

In [4]:
#Merging df_lan and df_cen 
df_final = pd.merge(df_lan, df_cen, on = "Name")

#Calculating the number number of people speaking exactly one language
df_final["Number speaking first language"] = df_final["TOT_P"] - df_final["Number speaking second language"]
df_final["Number speaking second language"] = df_final["Number speaking second language"] - df_final["Number speaking third language"]

#Calculating the percentage 
df_final["percentage_exact_one_language"] = df_final["Number speaking first language"] * 100 / df_final["TOT_P"]
df_final["percentage_exact_two_language"] = df_final["Number speaking second language"] * 100 / df_final["TOT_P"]
df_final["percentage_exact_three_language"] = df_final["Number speaking third language"] * 100 / df_final["TOT_P"]

#Droping the extra columns
df_final.drop(["Number speaking first language", "Number speaking second language", "Number speaking third language", "TOT_P"], axis = 1, inplace=True)
df_final.drop("Name", axis = 1, inplace = True)

#Renaming the column name
df_final.columns = ["state-code", "percent-one", "percent-two", "percent-three"]
df_final

   state-code percent-one percent-two percent-three
0          00   73.986251   18.910538      7.103211
1          01   50.697384   32.588084     16.714533
2          02   81.896911   13.044005      5.059084
3          03    53.01494   18.762382     28.222678
4          04   45.054716    24.43896     30.506324
5          05   82.572823   15.565026      1.862151
6          06   77.802617   17.580012      4.617371
7          07   59.392197   32.517275      8.090528
8          08   89.097948    9.433381      1.468671
9          09   88.552454   10.153499      1.294046
10         10   83.898297   14.485391      1.616312
11         11   36.289936   34.000134      29.70993
12         12   35.974004   33.777906     30.248091
13         13   37.845754   34.988188     27.166058
14         14   51.375344   27.025829     21.598827
15         15   71.773486   23.399161      4.827352
16         16   65.470069   29.124882      5.405049
17         17   72.283426   18.449932      9.266643
18         18   53.660234   32.391948     13.947818
19         19   83.538029   13.305609      3.156362
20         20   69.683887   25.486986      4.829127
21         21   67.063058   19.773438     13.163504
22         22   86.752019    11.59378      1.654201
23         23   86.494406   11.773516      1.732078
24         24   57.160038   28.659593     14.180368
25         25   52.053263    33.72169     14.225047
26         26   42.107131   37.085732     20.807136
27         27   48.903046   33.544254       17.5527
28         28   74.481987   18.017047      7.500967
29         29   60.303665   26.876807     12.819528
30         30   22.789355   26.389518     50.821127
31         31   71.223613   13.295488     15.480899
32         32   75.563156   14.891232      9.545612
33         33   71.701857   24.906232      3.391911
34         34   68.565162   25.692234      5.742604
35         35   32.359997   48.535529     19.104474

In [5]:
df= df_final.copy()

#Loading the dataset
df = pd.read_csv("../Dataset/Output Dataset/percent-india.csv")
df.drop(0, axis = 0, inplace = True)
df.head()

In [6]:
#Calculating the ratio
df["Ratio2to1"] = df["percent-two"] / df["percent-one"]
df.sort_values(by = ["Ratio2to1"], inplace=True)
df.head()

   state-code percent-one percent-two percent-three Ratio2to1
8          08   89.097948    9.433381      1.468671  0.105877
9          09   88.552454   10.153499      1.294046  0.114661
22         22   86.752019    11.59378      1.654201  0.133643
23         23   86.494406   11.773516      1.732078  0.136119
2          02   81.896911   13.044005      5.059084  0.159273

In [7]:
#Storing the last and top three
l = []
for i in list(df["state-code"])[-1:-4:-1]:
    l.append(i)
for i in  list(df["state-code"])[0:3]:
    l.append(i)

In [8]:
df_final = pd.DataFrame(l, columns=["state/ut"])
df_final

  state/ut
0       35
1       30
2       12
3       08
4       09
5       22

In [9]:
#Storing the final result
df_final.to_csv("../Dataset/Output_Dataset/2-to-1-ratio.csv", index=False)